.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    padding: 5px;
    border: 1px solid black;
    vertical-align: middle;
}

th.preference {
    min-width: 3ch;
}
td.preference {
    text-align: right;
}