body {
    background: #357EC7;
}

footer {
    color: black;
    background-color: white;
    padding: 5px;
}

@media (min-width: 768px) {
    footer {
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
}

/* fix for Safari */
input[type=email], input[type=number], input[type=password], input[type=text] {
    line-height: normal !important;
}